node_modules/
.env
google.env
.DS_Store
*.log
logs/
coverage/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
